body {
    background-image: url("img2.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: rgb(251, 216, 163);
    width: 100%;
    margin: 0;
}
body::-webkit-scrollbar{
    display: none;
}
.head {
    color: burlywood;
    font-size: 30px;
    cursor: pointer;
}
.head:hover {
    color: rgb(255, 255, 255);
}
a:link {
    text-decoration: none;
}
.textbox {
    font-family: 'Lucida Sans', sans-serif;
    height: 50px;
    width: 100%;
    border: none;
}
.textbox:hover {
    color: black;
    font-size: 18px;
    background-color: rgb(255, 236, 212);
}
.btn {
    text-align: center;
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 1.2em;
    transition: all 0.5s;
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: burlywood;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(251, 216, 163,0.95);
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(251, 216, 163,0.5);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}

.btn::after {
    background-color: burlywood;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.sub {
    cursor: pointer;
    border-radius: 5px;
    color: rgb(219, 218, 218);
    border-style: solid;
    background-color: transparent;
    border-color: rgb(219, 218, 218);
    width: 120px;
    height: 40px;
    transition: 0.2s ease;
    text-transform: uppercase;
    border-width: 2px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
}
.sub:hover {
    color: rgb(55, 52, 52);
    background-color: rgb(222, 153, 63);
    border: none;
    text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
    box-shadow: 0 0 50px rgb(186, 134, 66), 0 0 30px rgb(186, 134, 66), 0 0 60px rgb(186, 134, 66), 0 0 120px rgb(255, 255, 255);
    font-size: 22px;
    text-transform: inherit;
    width: 140px;
    height: 45px;
    letter-spacing: 3px;
}
.sub:active {
    width: 115px;
    height: 38px;
    letter-spacing: 0;
}
.table-box {
    width: 100%;
    overflow-x: auto;
}
.table-box::-webkit-scrollbar {
    display: none;
}
table {
    font-size: 20px;
    border-color: #bdbbb6;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
td {
    text-align: justify;
    padding: 10px;
}
th {
    height:25px;
    padding: 10px;
}
.contact {
    text-align: center;

}
.about {
    font-size: 20px;
}
.one,
.three,
.two {
    font-size: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.bottom-text {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(251, 216, 163);
    text-align: center;
    padding-bottom: 20px;
}
.form {
    padding: 25px;
}
